"*":
  "atom-beautify":
    c:
      beautify_on_save: true
      configPath: "~/.atom/packages/atom-beautify/src/beautifiers/uncrustify/default.cfg"
    executables:
      uncrustify:
        path: "/usr/bin/uncrustify"
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 15
    showIndentGuide: true
  "exception-reporting":
    userId: "58dba405-d609-4a0a-9bb2-7246eab424a4"
  welcome:
    showOnStartup: false
