/*
Arc-Dark Color Scheme
*/

@define-color highlight #5294e2;
@define-color base1  #404552;
@define-color base2  #40455;


*{
    font-family: Source Code Pro;
}

#window {
	border: 1px solid @highlight;

}

#inner-box {
    background-color: @base2;

}

#outer-box {
    	margin: 5px;
    	padding: 5px;
    	background-color: @base2;
	margin-top: -25px;
	margin-bottom: 3px;
}

#scroll {
}

#text {
padding: 5px;
color: white;
}

#entry {
    background-color: @base2;
}

#entry:selected {
    background-color: @highlight;
}

#text:selected {
}
